# Practice Assignment 1
# Loading, Inspecting, & Querying Data

For each question, there are instructions in each cell. Follow those instructions and write the code after each block of:

YOUR CODE HERE

Please use the exact variable name if it is specified in the comment.

We’ll run a Python test script against your program to test whether each function implementation is correct.

In [1]:
%%capture
###########################################################
### EXECUTE THIS CELL BEFORE YOU TO TEST YOUR SOLUTIONS ###
###########################################################
"""
Import all libraries needed for the entire exercise: pandas, numpy, pyplot, and seaborn
"""
import imp
import pandas as pd
import numpy as np
from nose.tools import assert_equal
from pandas.util.testing import assert_frame_equal, assert_series_equal
sol = imp.load_compiled("sol", "./.sol.py")

In [2]:
"""
Part 01: Loading Data

1. First we need to load the dataset into Pandas as dataframes.  We will be working with 3 different csv files:
"geoplaces2.csv", "chefmozaccepts.csv", and "chefmozcuisine.csv"

2. After loading the data, store the three dataframes in variables named "restaurant_location_df",
"restaurant_accept_df", and "restaurant_cuisine_df" respectively

3. Get the number of rows for "restaurant_location_df" and save it as "num_rows_restaurant_location"

4. Get the shape of "restaurant_accept_df" and save it as a variable named "shape_restaurant_accept"

5. Get (and display) the first 5 rows for each dataframe and store in variables named "restaurant_location_df_head",
"restaurant_accept_df_head", and "restaurant_cuisine_df_head" respectively.  Hint: You can use display() to
display dataframes as easy-to-read html tables.
"""

# YOUR CODE HERE
restaurant_location_df = pd.read_csv("geoplaces2.csv")
restaurant_accept_df = pd.read_csv("chefmozaccepts.csv")
restaurant_cuisine_df = pd.read_csv("chefmozcuisine.csv")

In [4]:
num_rows_restaurant_location = len(restaurant_location_df)
num_rows_restaurant_location

130

In [5]:
shape_restaurant_accept = restaurant_accept_df.shape
shape_restaurant_accept

(1314, 2)

In [6]:
restaurant_location_df_head = restaurant_location_df.head()

restaurant_accept_df_head = restaurant_accept_df.head()

restaurant_cuisine_df_head = restaurant_cuisine_df.head()

In [7]:
##########################
### TEST YOUR SOLUTION ###
##########################

assert_frame_equal(restaurant_location_df, sol.restaurant_location_df)
print("test restaurant_location_df correct")
assert_frame_equal(restaurant_accept_df, sol.restaurant_accept_df)
print("test restaurant_accept_df correct")
assert_frame_equal(restaurant_cuisine_df, sol.restaurant_cuisine_df)
print("test restaurant_cuisine_df correct")

assert_equal(num_rows_restaurant_location, sol.num_rows_restaurant_location)
print("test num_rows_restaurant_location correct")
assert_equal(shape_restaurant_accept, sol.shape_restaurant_accept)
print("test shape_restaurant_accept correct")

assert_frame_equal(restaurant_location_df_head, sol.restaurant_location_df_head)
print("test restaurant_location_df_head correct")
assert_frame_equal(restaurant_accept_df_head, sol.restaurant_accept_df_head)
print("test restaurant_accept_df_head correct")
assert_frame_equal(restaurant_cuisine_df_head, sol.restaurant_cuisine_df_head)
print("test restaurant_cuisine_df_head correct")

test restaurant_location_df correct
test restaurant_accept_df correct
test restaurant_cuisine_df correct
test num_rows_restaurant_location correct
test shape_restaurant_accept correct
test restaurant_location_df_head correct
test restaurant_accept_df_head correct
test restaurant_cuisine_df_head correct

In [ ]:
"""
Part 02: Inspecting Data

1. In the "restaurant_location_df" we can see that there is a column called "placeID" which represents
the index of each restaurant.  Get a list of all unique "placeID"s and store it in a variable called
"unique_id_list".  Hint: Try using .unique() which can be run on a series (a single column from a dataframe).

2. Next we want to see how many different city & states there are. Select only the columns "city" and "state"
and then drop the duplicates.  Save it in a dataframe called "unique_city_state_df".
"""

# YOUR CODE HERE

In [ ]:
##########################
### TEST YOUR SOLUTION ###
##########################

np.testing.assert_equal(unique_id_list, sol.unique_id_list)
print("test unique_id_list correct")
assert_frame_equal(unique_city_state_df, sol.unique_city_state_df)
print("test unique_city_state_df correct")

In [ ]:
"""
Part 03: Cleaning Data

1. Check the type of each column in "restaurant_location_df".  Hint: Try using .info().

2. We want to extract the following columns of data: "placeID", "address", "city", "state", "country",
"price" and "alcohol".  With only these columns, make a new dataframe called "new_restaurant_location_df".

3. We want to convert all the columns in our new dataframe "new_restaurant_location_df" (except placeID) to pandas string type.
Hint: Try using .astype().

4. Check the type of each column of the new dataframe "new_restaurant_location_df".  Hint: The types should now be
different than the old dataframe "restaurant_location_df".
"""

# YOUR CODE HERE

In [ ]:
##########################
### TEST YOUR SOLUTION ###
##########################

assert_frame_equal(new_restaurant_location_df, sol.new_restaurant_location_df)
print("test new_restaurant_location_df correct")

In [ ]:
"""
Part 04: Cleaning Data

1. First examine the dataframe "new_restaurant_location_df" using display()

2. By looking at "new_restaurant_location_df", we can see that there are a lot of values that are "?",
which means the value is unknown.  Now, we want to CHANGE these "?" to NaN and store the resulting dataframe
as "new_restaurant_location_df2".  Hint: NaN can be written using np.nan.

3. In the new dataframe "new_restaurant_location_df2" remove all NA and NaN values
   Hint: Please ensure reset_index(drop=True) after removing NA values.

4. Examine the new dataframe "new_restaurant_location_df2" with display()

5. By looking at "new_restaurant_location_df2" we can see that some values have uppercase characters and some
have lowercase characters.  For the sake of consistency, convert all values in the dataframe to lowercase.

Hint：
Methods to Convert Entire Dataframe Columns to Lowercase:

Method 1: Using apply() function
# Sample code for Method 1
import pandas as pd
data = {"name":["Sukesh","Abhishek","Maya","Rahul"],"age":[23,25,26,32],
"city":["Delhi","Noida","Las Vegas","Mumbai"]}
df = pd.DataFrame(data)
df2 = df.apply(lambda x: x.astype(str).str.lower())

Method 2: Using the applymap() function
# Sample code for Method 2
import pandas as pd
data = {"name":["Sukesh","Abhishek","Maya","Rahul"],"age":[23,25,26,32],
"city":["Delhi","Noida","Las Vegas","Mumbai"]}
df = pd.DataFrame(data)
df2 = df.applymap(lambda s: s.lower() if type(s) == str else s)
"""

# YOUR CODE HERE

In [ ]:
##########################
### TEST YOUR SOLUTION ###
##########################

try:
    if new_restaurant_location_df2['placeID'].dtype == 'object':
        assert_frame_equal(new_restaurant_location_df2, sol.new_restaurant_location_df2)
    elif new_restaurant_location_df2['placeID'].dtype == 'int64':
        test_df_for_int64 = sol.new_restaurant_location_df2.copy()
        test_df_for_int64['placeID'] = test_df_for_int64['placeID'].astype('int64')
        assert_frame_equal(new_restaurant_location_df2, test_df_for_int64)
    else:
        raise Exception('placeID type is not correct!')
    print("test new_restaurant_location_df2 correct")
except AssertionError as e:
    print(e)

In [ ]:
"""
Part 05: Cleaning Data

1. We are now going to apply all of the above preprocessing steps for two new .csv files.

2. We will be working with "rating_final.csv" and "userprofile.csv". These tables represent users' ratings
for the restaurants and information about their user profiles.  Read the two .csv files "rating_final.csv" and
"userprofile.csv" into two dataframes called "rating_final_df" and "user_profile_df" respectively.
"""

# YOUR CODE HERE

In [ ]:
##########################
### TEST YOUR SOLUTION ###
##########################

assert_frame_equal(rating_final_df, sol.rating_final_df)
print("test rating_final_df correct")
assert_frame_equal(user_profile_df, sol.user_profile_df)
print("test user_profile_df correct")

In [ ]:
"""
Part 06: Cleaning Data

1. We want to extract the following columns of data from the "user_profile_df" dataframe: "userID", "smoker",
"drink_level", "marital_status", and "birth_year".  With only these columns, make a new dataframe called
"user_profile_df2".

2. As before, in "user_profile_df2", change the "?" values to NaN (np.nan)

3. In the new dataframe "user_profile_df2" remove all NA and NaN values. 
   Hint: Please ensure reset_index(drop=True) after removing NA values.

4. From "user_profile_df2", get a list of all the unique values in the column named "drink_level" 
and save it into variable called "drink_level_types"

"""
# YOUR CODE HERE

In [ ]:
##########################
### TEST YOUR SOLUTION ###
##########################

assert_frame_equal(user_profile_df2, sol.user_profile_df2)
print("test user_profile_df2 correct")
np.testing.assert_equal(drink_level_types, sol.drink_level_types)
print("test drink_level_types correct")